@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@100..900&display=swap');

@import url("./reset.css");

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
  letter-spacing: -0.6px;
}

.inner {
  width: 1300px;
  margin: 0 auto;
}
/* inner안의 모든 요소가 1300px이라는 너비값에 맞춰 정렬되도록 하기 위해 한번에 레이아웃그리드를 만들어주는 것 */

/* Header */
header {
  position: fixed;
  /* 상단고정 */
  top: 0;
  width: 100%;
  z-index: 10000;
  /* 스크롤했을때 header위로는 아무도 올라오지 못하도록 값을 크게 줌 */
  .banner {
    background: #000;
    height: 40px;
    transition: all 0.5s;
    .lnb {
      display: flex;
      align-items: center;
      /* margin-right: 200px; */
      padding-right: 8%;
      gap: 20px;
      height: 100%;
      /* 부모요소의 높이값을 그대로 상속받음, 높이가 정의되어야 수직정렬 가능 */
      justify-content: flex-end;
      /* df상태이기 때문에 ta기능 안먹음, 그래서 jc기능 사용 */
      a {
        color: #fff;
        font-weight: 100;
        &:hover {
          font-weight: 400;
        }
      }
    }
  }
  nav {
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    /* 좌우측의 여백값이 같고 정가운데 정렬되도록 */
    margin-top: 20px;
    /* nav부분과 배너부분의 간격을 띄우도록 */
    /* border: 1px solid #f00; */
    .logo {
      img {
        width: 250px;
        height: 60px;
  
      }
    }
    .gnb {
      display: flex;
      gap: 20px;
      li {
        a {
          color: #fff;
          font-size: 20px;
          font-weight: 200;
          padding: 10px;
          &:hover {
            color: #000;
            font-weight: 600;
          }
        }
      }
    }
  }
  .trigger {
    display: none;
  }
  &.active {
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    .gnb li a {
      color: #000;
    }
    .banner {
      height: 0;
      overflow: hidden;
    }
    nav {
      padding-bottom: 20px;
    }
  }
}

/* Intro */
.intro {
  height: 100vh;
  background: url("./img/intro_museum.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  .heading {
    text-align: center;
    color: #fff;
    h1 {
      font-size: 70px;
      margin-bottom: 40px;
    }
    p {
      font-size: 22px;
      font-weight: 200;
      line-height: 1.5rem;
      letter-spacing: -0.6px;
      padding: 0 150px;
      /* 안쪽으로 150px만큼 들어가게 한다 > 이렇게 패딩의 좌우값을 주는 것이 w,h값을 직접적으로 부여하는 것보다 반응형에서 훨씬 유용하다. */
    }
    .slide_btn {
      width: 250px;
      height: 60px;
      margin-top: 40px;
      font-size: 20px;
      font-family: "Noto Sans KR", sans-serif;
      letter-spacing: -0.6px;
      background: #fff;
      border: 0.5px solid transparent;
      border-radius: 50px;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        background: transparent;
        color: #fff;
        border: 0.5px solid #fff;
      }
    }
  }
}

/* About */
.about_content {
  display: flex;
  padding: 150px 0;
  div {
    padding: 50px;
    &.desc {
      text-align: left;
      flex: 3;
      h2 {
        font-size: 30px;
        padding-bottom: 30px;
      }
      span {
        font-size: 20px;
        font-weight: 400;
      }
      p {
        font-size: 16px;
        line-height: 1.7rem;
        margin: 30px 0 40px;
        font-family: "Noto Sans KR", sans-serif;
        font-weight: 200;
      }
      a {
        color: #0057FF;
        /* font-weight: bold; */
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &.photo {
      flex: 2;
      img {
        width: 100%;
        border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
      }
    }
  }
}

/* Ranking */
.ranking {
  background: #f8f8f8;
  .ranking_content {
    padding: 100px 0;
    h2 {
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 50px;
    }
    .items {
      display: flex;
      justify-content: space-between;
      .item {
        width: 390px;
        height: 520px;
        background: #fff;
        border-radius: 30px 0 30px 0;
        overflow: hidden;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
        .up-image {
          width: 390px;
          height: 285px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 20px;
          img {
            width: 60%;
            height: 100%;
            object-fit: cover;
            margin-top: 30px;
          }
        }
        .down-desc {
          padding: 25px;
          padding-top: 50px;
          .badge {
            font-size: 16px;
            padding: 2px 10px;
            border: 0.5px solid #000;
            border-radius: 30px;
            &.must {
              background: #fff;
            }
            /* &.good {
              background: dodgerblue;
            } */
          }
          h3 {
            font-size: 22px;
            margin-top: 15px;
            letter-spacing: -0.7px;
            font-family: "Noto Sans KR", sans-serif;
            font-weight: 500;
          }
          p {
            font-size: 16px;
            margin-bottom: 16px;
            font-weight: 200;
          }
          .btn-explore {
            color: crimson;
            font-weight: 500;
            /* margin-bottom: 40px; */
            img {
              transition: all 0.3s;
            }
            /* 화살표아이콘이 오른쪽으로 가는것처럼 보이게 */
            &:hover img {
              margin-left: 15px;
            }
          }
        }
      }
    }
  }
}

/* Testimonial */
.testimonial {
  padding: 100px 0;
  .testimonial_content {
    text-align: center;
    h2 {
      font-size: 30px;
      font-weight: 300;
      text-transform: uppercase;
    }
    hr {
      margin: 30px auto;
      width: 120px;
      height: 4px;
      border: none;
      background: #ff9900;
    }
    .myslider {
      > div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .client {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 7px;
          margin-right: 100px;
          img {
            width: 85px;
            border-radius: 50%;
          }
          /* b태그에 display:block으로 하나의 행을 부여해서 두줄로 만듦 */
          span {
            font-size: 18px;
            b {
              display: block;
            }
          }
        }
        .comment {
          text-align: left;
          width: 74%;
          font-size: 13px;
          font-weight: 200;
          line-height: 1.4rem;
          padding-top: 10px;
          /* padding: 0 100px; */
        }
      }
    }
  }
}

/* CallAction */
.callaction {
  width: 100%;
  height: 450px;
  background: url("./img/art.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &::before {
    content: "";
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.607),
      rgb(255, 166, 0)
    );
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .callaction_heading {
    width: 100%;
    padding: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* text-align: center; */
    color: #000;
    letter-spacing: -1px;
    h2 {
      font-size: 48px;
      font-weight: 300;
      margin-bottom: 50px;
      text-align: left;
    }
    span {
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 50px;
    text-align: right;
    }
    a {
      background: #2ecc71;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 18px;
    }
  }
}

/* Blog */
.blog {
  padding: 100px 0;
  .blog_content {
    .blog_header {
      h6 {
        text-transform: uppercase;
        font-size: 16px;
        color: dodgerblue;
      }
      h2 {
        text-transform: uppercase;
        font-size: 48px;
        margin: 50px 0;
      }
      p {
        font-size: 28px;
        line-height: 1.6rem;
        margin-bottom: 16px;
      }
      .btn-explore {
        color: crimson;
        font-weight: 500;
        img {
          transition: all 0.3s;
        }
        &:hover img {
          margin-left: 15px;
        }
      }
    }
    .divider {
      border: none;
      border-bottom: 1px solid #ddd;
      margin: 50px 0;
    }
    .post_content {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin-top: 60px;
      .recent_post_items {
        flex: 2;
        h6 {
          font-size: 30px;
          text-transform: uppercase;
          color: dodgerblue;
          margin-bottom: 20px;
        }
        .post_item {
          display: flex;
          flex-direction: column;
          gap: 20px;
          width: 360px;
          height: 700px;
          .post_image {
            /* border: 1px solid #f00; */
            width: 360px;
            height: 360px;
            background: url("./img/recent_02.png") center/cover no-repeat;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
            /* border-radius: 30px 0 30px 0; */
            
            overflow: hidden;
            /* post_item속 이미지와 desc의 비율을 1:1로 같게 가져가도록 */
            flex: 1;
            /* img {
              width: 100%;
              height: 100%;
            
              object-fit: cover;
            } */
          }
          .post_desc {
            flex: 1;
            h3 {
              text-transform: uppercase;
              font-size: 24px;
            }
            p {
              font-size: 18px;
              line-height: 1.6rem;
              span {
                display: block;
                margin-top: 20px;
                margin-bottom: 30px;
                font-size: 14px;
                color: #6d6d6d;
              }
            }
          }
        }
      }
      .shared_post_items {
        flex: 2;
        h6 {
          font-size: 30px;
          text-transform: uppercase;
          color: dodgerblue;
          margin-bottom: 20px;
        }
        .post_item {
          display: flex;
          flex-direction: column;
          gap: 20px;
          .post_image {
            width: 360px;
            height: 100%;
            /* border-radius: 30px 0 30px 0; */
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .post_desc {
            h3 {
              text-transform: uppercase;
              font-size: 24px;
            }
            p {
              font-size: 18px;
              line-height: 1.6rem;
              span {
                display: block;
                margin-top: 20px;
                font-size: 14px;
                color: #6d6d6d;
              }
            }
          }
          &:nth-of-type(1) {
            margin-bottom: 50px;
          }
        }
      }
    }
  }
}

/* Festival */
.festival {
  width: 100%;
  height: 270px;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  .festival_heading {
    text-align: center;
    h3 {
      color: #fff;
      font-size: 26px;
      font-weight: 300;
      margin-bottom: 30px;
      span {
        font-weight: 500;
      }
    }
    .btns {
      a {
        display: inline-block;
        width: 200px;
        background: #fff;
        margin: 5px;
        padding: 6px;
        border-radius: 5px;
        font-size: 16px;
        &:nth-child(1) {
          background: #fac53b;
          color: #fff;
        }
        &:nth-child(2) {
          background: #ededed;
          color: #333;
        }
      }
    }
  }
}
.slick-arrow {
  border: 1px solid #f00;
  position: absolute;
}
/* Center Slide */
.center {
  padding-bottom: 70px;
  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .artSelection {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 7px;
      /* margin-right: 100px; */
      img {
        width: 70%;
        height: 70%;

      }
      span {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        b {
          opacity: 0;
          font-size: 25px;
          transition: all 0.3s;
          &:hover {
            opacity: 1;
            cursor: pointer;
          }
        }
      }
    }
    .artComment {
      text-align: left;
      width: 74%;
      font-size: 13px;
      font-weight: 200;
      line-height: 1.4rem;
      margin-left: 40%;
      padding-top: 10px;
      /* padding: 0 100px; */
    }
  }
}

/* Footer */
footer {
  height: 250px;
  background: #fff;
  padding: 30px 0;
  color: #000;
  .footer_content {
    display: flex;
    justify-content: space-around;
    ul {
      text-align: left;
      li {
        padding-bottom: 20px;
        &:first-child {
          color: #000;
          font-size: 25px;
          font-weight: bold;
        }
        a {
          color: #000;
          font-weight: 200;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      &.help {
        li {
          color: #000;
          &:last-child {
            color: #eee;
            margin-top: 38px;
          }
        }
      }
    }
  }
}

/* GotoTop */
.gototop {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(45deg, #000, #000);
  color: #fff;
  font-size: 26px;
  text-align: center;
  line-height: 50px;
  /* ta, lh > 화살표가 원에 수직수평정렬처럼 들어오도록 */
  position: fixed;
  right: 20px;
  /* 스크롤했을때 버튼이 아래에서 위로 보다 더 다이나믹하게 올라올수 있도록 */
  bottom: -20px;
  /* op 0이었다가 active라는 가상클래스가 부여될시 op1로 나타나도록 */
  opacity: 0;
  transition: all 0.3s;
  &.active {
    opacity: 1;
    bottom: 20px;
  }
}

@media screen and (max-width: 770px) {
  /* common */
  .inner {
    width: 100%;
    padding: 15px;
  }

  /* Header */
  header {
    .banner {
      display: none;
    }
    nav {
      width: 100%;
      padding: 0 20px;
      .gnb {
        width: 250px;
        height: 100vh;
        background: #fff;
        /* 세로정렬 */
        flex-direction: column;
        /* 스크롤 내리더라도 위치고정 */
        position: fixed;
        top: 0;
        right: -250px;
        text-align: right;
        padding: 80px 10px 0 0;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        transition: all 0.3s;
        /* 위쪽에서 li속 a라는 순서대로 최초스타일을 정의했기 때문에 그 부모자식 속성을 따라야 한다. */
        li {
          a {
            color: #000;
            font-size: 18px;
            display: block;
            padding: 10px;
          }
        }
        &.active {
          right: 0;
        }
      }
    }
    .trigger {
      display: block;
      width: 30px;
      height: 16px;
      /* border: 1px solid #f00; */
      position: absolute;
      top: 35px;
      right: 20px;
      span {
        width: 100%;
        height: 1px;
        background: #000;
        position: absolute;
        transition: all 0.3s;
        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2) {
          top: 50%;
        }
        &:nth-child(3) {
          top: 100%;
        }
      }
      &.active span:nth-child(1) {
        top: 50%;
        transform: rotate(45deg);
      }
      &.active span:nth-child(2) {
        opacity: 0;
      }
      &.active span:nth-child(3) {
        top: 50%;
        transform: rotate(-45deg);
      }
    }
  }

  /* Intro */
  .intro {
    .heading {
      h1 {
        font-size: 40px;
      }
      p {
        padding: 0;
      }
    }
  }

  /* About */
  .about_content {
    flex-direction: column;
  }

  /* Ranking */
  .ranking {
    .ranking_content {
      padding: 50px 0;
      .items {
        flex-direction: column;
        .item {
          width: 100%;
          border-radius: 7px;
          margin-bottom: 25px;
          .up-image {
            width: 100%;
          }
        }
      }
    }
  }

  /* Testimonial */
  .testimonial {
    padding: 50px 0;
    .testimonial_content {
      h2 {
        font-size: 24px;
      }
    }
  }

  /* CallAction */
  .callaction {
    .callaction_heading {
      h2 {
        font-size: 26px;
      }
    }
  }

  /* Blog */
  .blog {
    .blog_content {
      display: flex;
      justify-content: center;
      align-items: center;
      .blog_header {
        text-align: center;
        h2 {
          font-size: 36px;
        }
        p {
          font-size: 20px;
        }
      }
      .post_content {
        flex-direction: column;
        .recent_post_items,
        .shared_post_items {
          .post_item {
            flex-direction: column;
            .post_image {
              width: 100%;
              border-radius: 7px;
            }
          }
        }
      }
    }
  }

  /* Festival */
  .festival {
    padding: 15px;
    .festival_heading {
      h3 {
        font-size: 24px;
      }
      .btns {
        a {
          width: 100%;
          margin-bottom: 10px;
        }
      }
    }
  }

  /* Footer */
  footer {
    .footer_content {
      flex-direction: column;
      gap: 25px;
    }
  }
}
