@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Pixelify+Sans:wght@400..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// common
html {
  font-size: 13px;
  font-family: "Instrument Serif", serif;
}

// variable
$main-bg-color: #fff;
$main-dark-color: #454545;
$clock-bg-color: #fff;
$clock-accent-color: #0044ffcc;

// body
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100vh;
  background: $main-bg-color;
}

// Analog
.clock-container {
  width: 310px;
  height: 310px;
  border: 1px solid $clock-bg-color;
  box-shadow: 1px 1px 15px #0044ffcc;
  border-radius: 50%;
  background: $clock-bg-color;
  position: relative;
  .number {
    position: absolute;
    font-size: 2rem;
    &#num3 {
      top: 50%;
      right: 4px;
      transform: translateY(-50%);
      font-weight: bold;
    }
    &#num6 {
      bottom: 4px;
      left: 50%;
      transform: translateX(-50%);
      font-weight: bold;
    }
    &#num9 {
      top: 50%;
      left: 4px;
      transform: translateY(-50%);
      font-weight: bold;
    }
    &#num12 {
      top: 4px;
      left: 50%;
      transform: translateX(-50%);
      font-weight: bold;
    }
  }
  #dot {
    width: 14px;
    height: 14px;
    background: $main-dark-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 2;
  }
  #hour {
    width: 7px;
    height: 60px;
    background: $main-dark-color;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    transform: translate(-50%, -50%);
    transform-origin: center bottom;
  }
  #minute {
    width: 2px;
    height: 95px;
    background: $main-dark-color;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -95px;
    transform: translate(-50%, -50%);
    transform-origin: center bottom;
  }
  #second {
    width: 2px;
    height: 80px;
    background-color: $clock-accent-color;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -80px;
    transform: translate(-50%, -50%);
    transform-origin: center bottom;
  }
}

// Digital
.digital-clock {
  font-size: 1.4rem;
  color: $clock-accent-color;
  margin-top: 10px;
}