@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Pixelify+Sans:wght@400..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.background {
  width: 100%;
  height: 100vh;
  background: url("./contents/bg_5.jpg") left/contain;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background .outerbox {
  width: 808px;
  height: 544px;
  background: #fff;
  box-shadow: 10px 5px 30px rgba(20, 74, 225, 0.8);
  border-radius: 20px;
  position: relative;
}
.background .outerbox .wrapper {
  display: flex;
  padding: 36px;
}

.wrapper_left {
  width: 203px;
  height: 472px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Instrument Serif", serif;
}
.wrapper_left .wrapper_left_header {
  width: 100%;
  height: 30px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  font-weight: 600;
}
.wrapper_left .wrapper_left_header .today-value {
  color: #dc143c;
}
.wrapper_left .wrapper_left_body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
  border: 1px solid #808080;
  border-radius: 15px;
  padding: 18px;
}
.wrapper_left .wrapper_left_body .left_body_header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.wrapper_left .wrapper_left_body .left_body_header .left_body_header_gray {
  width: 148px;
  height: 148px;
  border-radius: 50%;
  background: url("./contents/user.jpg") center/cover no-repeat;
  box-shadow: 1px 1px 10px #0044ff;
}
.wrapper_left .wrapper_left_body .left_body_header .left_body_header_line {
  border-top: 1px dotted #000;
  margin: 12px 0;
  width: 90%;
}
.wrapper_left .wrapper_left_body .left_body_profile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper_left .wrapper_left_body .left_body_profile .profile_detail {
  display: flex;
  align-items: center;
  gap: 6px;
}
.wrapper_left .wrapper_left_body .left_body_profile .profile_detail span {
  font-weight: bold;
}
.wrapper_left .wrapper_left_body .left_body_profile .profile_detail img {
  width: 40px;
  height: 40px;
}
.wrapper_left .wrapper_left_body .left_body_footer .wrapper_feel {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.wrapper_left .wrapper_left_body .left_body_footer .wrapper_feel .feel_title {
  font-weight: bold;
}

.wrapper_right {
  width: 524px;
  height: 472px;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-family: "Instrument Serif", serif;
  font-weight: 600;
}
.wrapper_right .wrapper_right_header {
  display: flex;
  justify-content: space-between;
  color: rgba(0, 68, 255, 0.8);
}
.wrapper_right .wrapper_right_header .right_header_title {
  font-weight: bold;
}
.wrapper_right .wrapper_right_header .right_header {
  font-size: 14px;
}
.wrapper_right .wrapper_right_body {
  width: 100%;
  height: 445px;
  border: 1px solid #808080;
  border-radius: 7px;
  background: #fff;
}
.wrapper_right .wrapper_right_body iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 7px;
}

.navigation {
  width: 70px;
  height: 110px;
  position: absolute;
  top: 20%;
  right: -69px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3px;
}
.navigation .navigtion_item {
  width: 100%;
  height: 33px;
  background: rgba(0, 68, 255, 0.8);
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 0 10px 10px 0;
  font-size: 14px;
  border: 1px solid #000;
  cursor: pointer;
}